/*the at import call will be deprecated eventually, but I'm using node-sass, so for now I guess use @import*/
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");
* {
  margin: 0; }

body {
  text-align: center; }

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0; }

nav {
  /*resizing is frustrating*/
  min-width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 4.28em;
  /*height:60px*/
  background-color: #fafafa; }

.navbar-desktop {
  display: flex;
  justify-content: space-between;
  width: 100%; }

nav p {
  font-family: arial;
  color: black;
  font-size: 24px;
  line-height: 2.5em;
  float: left;
  padding-right: 1em; }

.navbar-left {
  display: flex;
  padding-left: 1em;
  height: 100%; }

.cam-logo {
  margin-left: 3em;
  width: 100px;
  height: 100%; }

#cam-logo-picture {
  max-width: 100%;
  max-height: 100%;
  position: relative; }

#name {
  font-family: 'Major Mono Display', monospace;
  font-weight: 900;
  text-decoration: none;
  color: #5861cc;
  font-weight: 500;
  font-size: 28px; }

#name:hover {
  color: #4952bd; }

#logo {
  height: 60px;
  right: 475px;
  position: relative; }

.memory-pulldown {
  font-family: 'Major Mono Display', monospace;
  font-size: 14px;
  display: flex;
  justify-content: center; }

.memory-pulldown:hover {
  cursor: pointer; }

@media (max-width: 1199px) {
  .navbar-right {
    min-width: 768px; } }

nav ul {
  float: right;
  margin-right: 7em;
  /*margin-right: 150px;*/ }

nav ul li {
  float: left;
  list-style: none;
  /*activates position absolute within the list*/
  position: relative; }

/* these are the links on the dropdown*/
nav ul li a {
  display: block;
  font-family: 'Major Mono Display', monospace;
  color: black;
  font-size: 14px;
  padding: 1.5em 1em;
  /*padding:21px 14px;*/
  text-decoration: none;
  border-bottom: white 1em; }

nav ul li a:hover {
  color: #3282fa;
  /*transition:0.2s;*/ }

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 0em 0em 0.28em 0.28em; }

nav ul li ul li {
  width: 180px;
  border-radius: 0.28em; }

nav ul li ul li a {
  color: black;
  display: block;
  padding: 0.57em 1em;
  background-color: #fafafa;
  border-bottom: none; }

nav ul li ul li:hover a {
  color: #5861cc;
  border-bottom: none; }

.navbar-mobile {
  display: none; }

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  .navbar-desktop {
    display: none; }
  .navbar-mobile {
    display: flex;
    width: 100%;
    flex-direction: column; }
  .navbar-mobile-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.28em; }
  .navbar-mobile-left {
    display: flex;
    padding-left: 1em; }
  .navbar-mobile-right {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-right: 2em; }
  .navbar-mobile-bottom-container {
    background-color: #fafafa;
    width: 60%;
    margin: auto; }
  .navbar-mobile-dropdown {
    width: 100%;
    margin-right: 0em;
    display: none;
    flex-direction: column;
    align-content: center; } }

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */ }

@media screen and (max-width: 479px) {
  /* start of phone styles */ }

/*footer stuff begins here*/
footer {
  height: 173px;
  background-color: black;
  font-size: 12px;
  font-family: 'Roboto', sans-serif; }

.footer-left {
  padding-top: 2em;
  width: 50%;
  margin: 0;
  color: white;
  font-size: 16px; }

.footer-links {
  align-items: center; }

.fab {
  /*float:right; positioning*/
  padding: .5em .25em 0em .25em;
  color: #5861cc; }

.fa-facebook:hover {
  color: #00aced; }

.fa-youtube:hover {
  color: red; }

.fa-twitter:hover {
  color: #32bedc; }

.fa-instagram:hover {
  color: hotpink; }

.fa-github:hover {
  color: #f0d74d; }

.fa-chevron-circle-up {
  padding: .5em .25em 0em .25em;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 3em;
  color: #e6e6ff; }

.fa-chevron-circle-up:hover {
  color: #5861cc; }

.fa-bars:hover {
  color: #5861cc;
  cursor: pointer; }

section {
  font-family: 'Roboto', sans-serif;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center; }

.learn-more {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.text {
  width: 30em;
  font-size: 24px;
  margin-bottom: 1em; }

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.05em solid #e6e6dc;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Major Mono Display', monospace;
  font-size: 20px;
  font-weight: 500;
  color: grey;
  text-align: center;
  transition: all 0.2s; }

a.button1:hover {
  color: #5861cc;
  border: 0.05em solid #5861cc; }

/*clock stuff, credits to Animated Creativity's Codepen*/
.holder {
  position: absolute;
  background-color: #ffffff;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%; }

.new-year {
  font-family: 'Major Mono Display', monospace;
  color: #333333;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center; }

.year {
  position: relative;
  left: 50%;
  display: table;
  font-size: 6em;
  transform: translateX(-50%); }

.year2 {
  color: #5861cc;
  transform: translateX(-50%) rotateX(180deg);
  opacity: 0.2; }

.digit {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
  opacity: 0; }

.controls {
  margin-top: 30px; }

.control {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.8em;
  border-left: 1px solid #333333;
  opacity: 0;
  position: relative;
  top: 100px; }

.control:first-child {
  border-left: none; }
