@import url("https://fonts.googleapis.com/css?family=Roboto:400,600");
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");
* {
  margin: 0; }

body {
  text-align: center; }

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0; }

nav {
  /*resizing is frustrating*/
  min-width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 4.28em;
  /*height:60px*/
  background-color: #fafafa; }

nav p {
  /*margin-left:150px;*/
  font-family: arial;
  color: black;
  font-size: 24px;
  line-height: 2.5em;
  /*line-height:55px;*/
  float: left;
  padding-right: 1em;
  /* padding: 0px 20px;*/ }

.navbar-left {
  display: flex;
  padding-left: 1em; }

.cam-logo {
  margin-left: 3em;
  width: 100px;
  height: 100px; }

#cam-logo-picture {
  max-width: 90%;
  max-height: 75%;
  position: relative;
  bottom: .5em; }

#name {
  font-family: 'Major Mono Display', monospace;
  font-weight: 900;
  text-decoration: none;
  color: #5861cc;
  font-weight: 500;
  font-size: 28px; }

#name:hover {
  color: #4952bd; }

#logo {
  height: 60px;
  right: 475px;
  position: relative; }

.memory-pulldown:hover {
  cursor: pointer; }

@media (max-width: 1199px) {
  .navbar-right {
    min-width: 768px; } }

nav ul {
  float: right;
  margin-right: 7em;
  /*margin-right: 150px;*/ }

nav ul li {
  float: left;
  list-style: none;
  /*activates position absolute within the list*/
  position: relative; }

/* these are the links on the dropdown*/
nav ul li a {
  display: block;
  font-family: arial;
  color: black;
  font-size: 14px;
  padding: 1.5em 1em;
  /*padding:21px 14px;*/
  text-decoration: none;
  border-bottom: white 1em; }

nav ul li a:hover {
  color: #3282fa;
  border-bottom: #5861cc solid 0.28em;
  /*transition:0.2s;*/ }

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 0em 0em 0.28em 0.28em; }

nav ul li ul li {
  width: 180px;
  border-radius: 0.28em; }

nav ul li ul li a {
  color: black;
  display: block;
  padding: 0.57em 1em;
  background-color: #fafafa;
  border-bottom: none; }

nav ul li ul li:hover a {
  color: #5861cc;
  border-bottom: none; }

/*footer stuff begins here*/
footer {
  height: 173px;
  background-color: black;
  font-size: 12px;
  font-family: 'Roboto', sans-serif; }

.footer-left {
  padding-top: 2em;
  width: 50%;
  margin: 0;
  color: white;
  font-size: 16px; }

.footer-links {
  align-items: center; }

.fab {
  /*float:right; positioning*/
  padding: .5em .25em 0em .25em;
  color: #5861cc; }

.fa-facebook:hover {
  color: #00aced; }

.fa-youtube:hover {
  color: red; }

.fa-twitter:hover {
  color: #32bedc; }

.fa-instagram:hover {
  color: hotpink; }

.fa-github:hover {
  color: #f0d74d; }

.fa-chevron-circle-up {
  padding: .5em .25em 0em .25em;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 3em;
  color: #e6e6ff; }

.fa-chevron-circle-up:hover {
  color: #5861cc; }

body {
  font: 14px sans-serif;
  text-align: center; }

* {
  margin: 0; }

/*top navbar ends here, content begins here*/
section {
  font-family: 'Roboto', sans-serif;
  height: 60vh;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background-size: cover;
  background-position: center center; }

.parallax {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

#robot-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../assets/2019botcompressed.jpg");
  background-size: cover; }

.team-name {
  color: #fafafa;
  font-size: 60px;
  font-family: "Josephin Sans", sans-serif; }

@media (max-width: 1199px) {
  .team-name {
    font-size: 55px; } }

#about {
  height: 460px;
  background-color: #5861cc;
  display: flex;
  justify-content: flex-start; }

.about-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  border: 0px solid black; }

.about-container h {
  font-size: 75px;
  font-weight: 900;
  color: white; }

.about-container p {
  color: white;
  font-size: 22px;
  margin: 25px 200px 50px 200px;
  text-align: justify; }

.about-horiz-line {
  width: 20em;
  border: 2px solid white;
  height: 0px;
  margin: 0 auto; }

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

#regional {
  object-fit: contain; }

@media (max-width: 1199px) {
  .about-container h {
    font-size: 55px; }
  .about-container p {
    margin: 50px 40px 50px 40px;
    font-size: 18px; } }

#FIRST {
  height: 460px;
  display: flex;
  justify-content: flex-start; }

.first-image {
  display: flex;
  justify-content: center;
  align-items: center; }

#firstlogo1 {
  padding-left: 100px;
  width: 100%;
  object-fit: contain; }

.first-container {
  padding-top: 30px;
  flex-direction: column; }

.first-container h {
  font-size: 75px;
  font-weight: 900;
  color: #5d5d91; }

.first-container p {
  color: #5d5d91;
  font-size: 22px;
  margin: 50px 200px 25px 200px;
  text-align: justify; }

.first-horiz-line {
  width: 10em;
  border: 2px solid #5d5d91;
  height: 0px;
  margin: 0 auto; }

@media (max-width: 1199px) {
  .first-container h {
    font-size: 55px; }
  .first-container p {
    margin: 50px 40px 10px 80px;
    font-size: 18px; } }

#contact {
  height: 460px;
  background-color: #5d5d91; }

.contact-container {
  padding-top: 50px; }

.contact-container h {
  font-size: 75px;
  font-weight: 900;
  color: white; }

.contact-horiz-line {
  width: 25em;
  border: 2px solid white;
  height: 0px;
  margin: 0 auto; }

.contact-container p {
  color: white;
  font-size: 22px;
  padding: 50px 300px 25px 300px;
  text-align: justify; }

@media (max-width: 1199px) {
  .contact-container h {
    font-size: 55px; }
  .contact-container p {
    padding: 50px 40px 10px 40px;
    font-size: 22px; } }

/* I stole these buttons...and go figure they don't use px so they are more scalable*/
a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #5d5d91;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #5d5d91;
  text-align: center;
  transition: all 0.2s; }

a.button1:hover {
  color: #5861cc;
  border: 0.1em solid #5861cc; }
