@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

$primary-blue: rgb(88, 97, 204);
*{
	margin:0;
}  
body{
	text-align: center;
}

header {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
    top: 0;
    left: 0;
	right: 0;
}

nav{
	/*resizing is frustrating*/
	min-width:100%;	
	z-index:5;
	display:flex;
	justify-content:space-between;
	position: fixed;
	width:100%;
	height:4.28em;
	/*height:60px*/
	background-color:rgb(250,250,250);
 }
  
 nav p{
	/*margin-left:150px;*/
	 font-family:arial;
	 color:black;
	 font-size:24px;
	 line-height:2.5em;
	 /*line-height:55px;*/
	 float:left;
	 padding-right: 1em;
	/* padding: 0px 20px;*/
 }

 .navbar-left{
	 display:flex;
	 padding-left:1em;
 }

.cam-logo{
	margin-left:3em;
	width:100px;
	height:100px;
}
#cam-logo-picture{
	max-width:90%;
	max-height:75%;
	position:relative;
	bottom:.5em;
	}
#name{
	font-family:'Major Mono Display', monospace;
	font-weight: 900;
	text-decoration: none;
	color:$primary-blue;
	font-weight: 500;
	font-size:28px;
 }
 #name:hover{
	 color:rgb(73,82,189);
 }
 #logo{
	height:60px; 
	right:475px; 
	position:relative;
}
.memory-pulldown:hover{
	cursor: pointer;
}
//adjust minwidth to different devices 
@media (max-width: 1199px) {
	.navbar-right{
		min-width:768px;
	}
	
}

nav ul{
	float:right;
	margin-right:7em;
	/*margin-right: 150px;*/
}
nav ul li{
	float:left;
	list-style:none;
	/*activates position absolute within the list*/
	position:relative;
}

/* these are the links on the dropdown*/
nav ul li a {
	display:block;
	font-family:'Major Mono Display', monospace;
	color:black;
	font-size:14px;
	padding:1.5em 1em;
	/*padding:21px 14px;*/
	text-decoration:none;
	border-bottom: white 1em;
}

nav ul li a:hover {
	color:rgb(50,130,250);
	/*transition:0.2s;*/
}

nav ul li ul{
	display:none;
	position:absolute;
	background-color:rgb(250,250,250);
	padding:10px;
	border-radius:0em 0em 0.28em 0.28em; 
}

nav ul li ul li {
	width:180px;
	border-radius:0.28em;
}
nav ul li ul li a{
	color:black;
	display:block;
	padding: 0.57em 1em;
	background-color:rgb(250,250,250);
	border-bottom: none;
}
nav ul li ul li:hover a{
	color: $primary-blue;
	border-bottom: none;
}
.navbar-mobile{
	display:flex;
	width:100%;
	flex-direction: column;
}
.navbar-mobile-top{
	width: 100%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
}
.navbar-mobile-left{
	display:flex;
	padding-left:1em;
	
}

.navbar-mobile-right{
	display: flex;
	flex-direction: column;
	align-content:center;
	justify-content: center;
	padding-right: 2em;
}

.navbar-mobile-dropdown-container{
    
}
.navbar-mobile-dropdown{
	width:100%;
	margin-right: 0em;
	display:flex;
	flex-direction: column;
	align-content: center;
}


@media screen and (max-width: 991px) {
	/* start of large tablet styles */
	
	}
	
@media screen and (max-width: 767px) {
	/* start of medium tablet styles */
	
	}
	
@media screen and (max-width: 479px) {
	/* start of phone styles */
	
	}
/*footer stuff begins here*/
footer{
	height: 173px;
	background-color:black;
	font-size:12px;
	font-family: 'Roboto', sans-serif;
}

.footer-left{
	padding-top:2em;
	width: 50%;
	margin:0;
	color:white;
	font-size:16px;
}
.footer-links{
	align-items: center;
}
.fab{
	/*float:right; positioning*/
	padding:.5em .25em 0em .25em;
	color: $primary-blue;
}

.fa-facebook:hover {
	color:rgb(0,172,237);
}
.fa-youtube:hover {
	color:red;
}
.fa-twitter:hover{
	color:rgb(50,190,220);
}
.fa-instagram:hover {
	color:rgb(255,105,180);
}
.fa-github:hover {
	color:rgb(240, 215, 77);
}

.fa-chevron-circle-up{
	padding:.5em .25em 0em .25em;
	display:inline-block;
    position:absolute;
    right:0;
	margin-right:3em;
	color:rgb(230,230,255);
}	
.fa-chevron-circle-up:hover{
	color:$primary-blue;
}

.fa-bars:hover {
	color:$primary-blue;
	cursor: pointer; 
}